*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
  
    height: 10vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #e9e9eb;

}
h1{
  padding-top: 1%;
  
  position: absolute;
  left: 2%;
  top: 30px;
  font-size: 40px;
  z-index: 999;
  font-weight: bold;
  color: #083b74f7;
}
h1 span{
  color: orangered;
}
.nav {
  background-color: #5992cc;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One";
  list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0 45px;
}
.vav :hover{
  color: #f01d09;
}
.all{
 
  display: flex;
align-items: center;
justify-content: center;
}
img {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #dbe4ed;
  cursor: grab;

}
.btn{
  width:100%;
  text-align: center;
  display: inline-block;
}
.edit{
  background-color: #0e98d8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
}
.delete{
  background-color: #ee0202; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
}
.container{
  background-color: rgba(228, 228, 228, 0.466);
  
}
.h3{
  text-align: center;
}
.h4{
  text-align: center;
}