*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
  
    height: 10vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #e9e9eb;

}
h1{
  padding-top: 1%;
  
  position: absolute;
  left: 2%;
  top: 30px;
  font-size: 40px;
  z-index: 999;
  font-weight: bold;
  color: #083b74f7;
}
h1 span{
  color: orangered;
}
.nav {
  background-color: #5992cc;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One";
  list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0 45px;
    border: 2px solid rgba(194, 74, 74, 0.767);
    box-shadow: 0 0 40px rgba(45, 40, 109, 0.336);
    border-radius: 15px;
}
.vav :hover{
  color: #f01d09;
}
.all{
 
  display: flex;
align-items: center;
justify-content: center;
}
img {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #dbe4ed;
  cursor: grab;

}
.btn{
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.edit{
  background-color: #0e98d8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
  border-radius: 10px;
}
.delete{
  background-color: #ee0202; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
  border-radius: 10px;
}
.container{
  background-color: rgba(228, 228, 228, 0.466);
  
}
.h3{
  text-align: center;
}
.h4{
  text-align: center;
}
.btnadd{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btnadd:disabled {
  pointer-events: none;
}

.btnadd:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnadd:active {
  box-shadow: none;
  transform: translateY(0);
}
.btnlist{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btnlist:disabled {
  pointer-events: none;
}

.btnlist:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btnlist:active {
  box-shadow: none;
  transform: translateY(0);
}
h2{
  position: inherit;
}
form {
  height: 520px;
  width: 400px;
  background-color: #5992cc;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-top: 5%;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 3px solid rgba(194, 74, 74, 0.767);
  box-shadow: 0 0 40px rgba(45, 40, 109, 0.555);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #000103f5;
  letter-spacing: 0.5px;
  
  
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:320px;
  border:none;
  border-bottom:2px solid #00060a;
}
textarea {
  width: 98%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
